<app-navbar></app-navbar>

<div class="container main-container">

  <div class="row">
    <div class="col-md-4">
      <div *ngIf="marcadorSel">
        <h5>Marcador</h5>
        <hr>
        <div class="form-group">
          <label>Titulo</label>
          <input
                type="text"
                name="titulo"
                [(ngModel)]="marcadorSel.titulo"
                class="form-control">
        </div>

        <div class="form-group">
          <label>Descripcion</label>
          <textarea
                type="text"
                name="desc"
                [(ngModel)]="marcadorSel.desc"
                class="form-control"
                rows="5">
          </textarea>
        </div>

        <div class="form-group">
          <label>Se puede mover?</label>
          <select [(ngModel)]="draggable"
                  class="form-control"
                  name="draggable"
                  (change)="cambiarDraggable()">
                <option value="1">SI</option>
                <option value="0">NO</option>
          </select>

        </div>

        <button (click)="_ms.guardarMarcadores()"
                type="button" class="btn btn-outline-primary btn-block">
          Guardar cambios
        </button>

      </div>
    </div>

    <div class="col-md-8">
      <agm-map
          [latitude]="lat"
          [longitude]="lng"
          [zoom]="zoom"
          (mapClick)="clickMapa($event)">
          <agm-marker *ngFor="let mark of _ms.marcadores; let i = index"
          [latitude]="mark.lat"
          [longitude]="mark.lng"
          [title]="mark.titulo"
          [markerDraggable]="mark.draggable"
          (markerClick)="clickMarcador(mark, i)"
          (dragEnd)="dragEndMarcador(mark, $event)">
          <agm-info-window>
            <strong>{{mark.titulo}}</strong>
            <p *ngIf="mark.desc">
              {{mark.desc}}
            </p>
            <p>
              <a (click)="borrarMarcador(i)"
                 class="text-danger puntero">Borrar marcador</a>
            </p>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>

</div>
