<app-navbar></app-navbar>

<div class="container main-container">

  <div class="row">
    <div class="col-md-4">
      <h5>Marcador</h5>
    </div>

    <div class="col-md-8">
      <agm-map
          [latitude]="lat"
          [longitude]="lng"
          [zoom]="zoom"
          (mapClick)="clickMapa($event)">
          <agm-marker *ngFor="let mark of _ms.marcadores; let i = index"
          [latitude]="mark.lat"
          [longitude]="mark.lng"
          [title]="mark.titulo"
          [markerDraggable]="mark.draggable"
          (markerClick)="clickMarcador(mark, i)"
          (dragEnd)="dragEndMarcador(mark, $event)">
          <agm-info-window>
            <strong>{{mark.titulo}}</strong>
            <p *ngIf="mark.desc">
              {{mark.desc}}
            </p>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>

</div>
